# Mac
*.DS_STORE

# python
env/

# mkdocs
site/

.idea/

# Docker stuff
Dockerfile
nginx.conf
updateServer.sh

# IG publisher
fsh-generated/
input-cache/
output/
temp/
template/
